name: CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches:
      - main


jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write

    steps:
    - uses: actions/checkout@v4
    - uses: nixbuild/nix-quick-install-action@v30
    - name: Restore Nix store
      id: cache-nix-restore
      uses: nix-community/cache-nix-action/restore@v6
      with:
        # restore and save a cache using this key
        primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
        # if there's no cache hit, restore a cache by this prefix
        restore-prefixes-first-match: nix-${{ runner.os }}-

    - name: build and test
      run: nix build -L
      timeout-minutes: 5

    - name: Save Nix store
      id: cache-nix-save
      if: always() && steps.cache-nix-restore.outputs.hit-primary-key != 'true'
      uses: nix-community/cache-nix-action/save@v6
      with:
        # restore and save a cache using this key
        primary-key: ${{ steps.cache-nix-restore.outputs.primary-key }}
        # collect garbage until the Nix store size (in bytes) is at most this number
        # before trying to save a new cache
        # 1G = 1073741824
        gc-max-store-size-linux: 1G
        # do purge caches
        purge: true
        # purge all versions of the cache
        purge-prefixes: build-${{ runner.os }}-
        # created more than 0 seconds ago relative to the start of the `Post Restore` phase
        purge-created: 0
        # except the version with the `primary-key`, if it exists
        purge-primary-key: never
        # and collect garbage in the Nix store until it reaches this size in bytes
        gc-max-store-size: 0